%h1
  Hello

%p
  , find me in app/views/comment_mailer/new_comment.html.haml"
%h3 
  A new comment was posted for your 
  %br
  Group ID:
  = @group.id
  / = @group.name
  %br
  / - if @user.try(:type) != 'AdminUser'
  Number of play: 
  = @group.noofplays
  %br
  User Name: 
  = @group.user.first_name.capitalize
  = @group.user.last_name.capitalize
  %br
  Group Id:
  = @group.id
  %br
  Shares:
  = @group.shares
  %br
  Group name:
  = @group.name
  %br
  Game:
  / = @group.game_id
  = @group.game.name



