<div class="container-fluid">
  <div class="top-games-wrap">
    <div class="top-group">
      <div class="game-image">
          <%= image_tag(@group.game.gameimage_url) if @group.game.gameimage?%>
      </div> 
      <h3><b>Group Name:</b> <%= @group.name %></h3>
       
    </div>  
    
    <div class="row">
        
        <div class="col-md-6">
            <b>Created by:</b> <%= @group.user.first_name.capitalize %> <%= @group.user.last_name[0].capitalize + "." %><br>
            <b>Shares:</b> <%= @group.shares %><br>
            <b>Number of plays:</b> <%= @group.noofplays %><br>
            <b>Game id:</b> <%= @group.game_id %><br>
            <b>Game:</b> <%= @group.game.name %><br> 
        </div>
        <div class="col-md-6 group-members">
           Capitan : <%= @group.user.first_name.capitalize %> <%= @group.user.last_name[0].capitalize + "." %>
        </div>
    </div>

    <% if @group.private == true %>
        <h4>Private Group</h4>
        <p>
            <b>Secret code:</b>  
            <span id="bar"><%= @group.unique_identifier %></span>
            <button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
                Copy to clipboard
            </button>
        </p>
        <% if @group.user != current_user %>
            Join this group
            <br>
            <label>Code check <%= text_field :shares, class: "form-control verification-code" %> </label>
        <% end %>


        <br><br>

        
        <%= form_for Invite.new, :url => invites_path do |f| %>
        
            <%= f.hidden_field :group_id, :value => @group.id %>
            <%= f.label :email %>
            <%= f.email_field :email %>
            <%= f.submit 'Send' %>
        <% end %>

        <br><br>
        <%= link_to "Send Email", new_comment_path, class: "btn btn-primary custom-class", :type => "button" %><br><br>
        

    <% elsif %>
        <h4>Public</h4>
        
    <% end %>


    <br><br>
    <%= link_to 'Edit', edit_group_path(@group) %> |
    <%= link_to 'Back', groups_path %>
  </div>
</div>


