<%= form_for @maxWiningNumber, html: { multipart: true }, class: "form-horizontal" do |f| %>

  <% if @maxWiningNumber.errors.any? %>
    <% @maxWiningNumber.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Lotto group Notification", sticky: false) %>
    <% end %>
  <% end %>

  
    <h1>New Numbers</h1>
    <form>
        <div class="section">Title</div>
        <div class="inner-wrap">
          <label>Numbers <%= f.text_field :numar, class: "form-control" %> </label>
        </div>

        
        
        <div class="button-section">
         <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
        </div>
        
    </form>
  <br>
  <%= link_to 'Back', :back, class: 'btn  btn-default btn-sm' %>
  

<% end %>

